/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

*,
::after,
::before {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 100%;
}

:root {
    /* colors */
    --darkcyan: hsl(158, 36%, 37%);
    --verydarkcyan:hsl(158, 53%, 18%);
    --cream: hsl(30, 38%, 92%);
    --verydarkblue: hsl(212, 21%, 14%);
    --darkgrayblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    
    --borderRadius: 0.5rem;

    /* font */
    --bodyfont: 'Montserrat', sans-serif;
    --headingfont:'Fraunces', serif;

    --transition: all 0.3s linear;
}

body {
    background: var(--white);
    font-family: var(--bodyfont);
    font-weight: 500;
}
p {
    font-size: 0.875rem;
}
.img { 
    width: 100%;
    display: block;
    object-fit: cover;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.card-img {
    margin-right: 0.5rem;
}
/* 
==============================================
Product Preview Code
=============================================
*/

.card-container {
    min-height: 100vh;;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
   
}

.card {
    background: var(--cream);
    max-width: 365px;
    width: 90%;
    padding: 1.5rem 0.75rem;
    text-align: left;
}

.card-img {
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
    margin-bottom: 0.5rem;
}

.card-details {
    background: var(--white);
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
}

.card-info {
    padding: 1rem 1.25rem
}

.card-info h5 {
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 0.6rem;
    color: var(--darkgrayblue);
    margin-bottom: 0.75rem;
}

.card-info h2 {
    font-family: var(--headingfont);
    font-weight: 700;
    margin-bottom: 0.75rem;
    padding: 0 0.25rem;
}

.card-info p {
    color: var(--darkgrayblue);
    font-size: 0.75rem;
    margin-bottom: 1rem;
    padding: 0 0.45rem;
    line-height: 1.5;
}

.price {
    display: flex;
    align-items: center;
}

p.price-text {
    color:var(--darkcyan);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}

p.old-price-text {
    text-decoration: line-through;
    
}

.product-btn {
    width: 100%;
    background-color: var(--darkcyan);
    color: var(--white);
    border-radius: var(--borderRadius);
    padding: 0.75rem;
    border: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    transition: var(--transition);
}
 
.product-btn:hover{
    background: var(--verydarkcyan);
    cursor: pointer;
  }


.product-btn:focus {
    outline: 2px solid transparent;
    background: var(--verydarkcyan );
}

.product-btn span{
    display: block;
    font-weight: 700;
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

/* 
=================================
Media Query
=================================
*/

@media screen and (min-width:1000px) {

    .card-details{
        display: flex;
        width: 500px;
    }

    .card {
        max-width: 500px;
    }

    .img {
        border-radius: 0;
    }

    .card-container {
        background: var(--cream);
    }

    .card-info {
        width: 550px;
    }

    .card-details {
         border-bottom-left-radius: var(--borderRadius);
         border-bottom-right-radius: var(--borderRadius);
    }
    .card-img {
        margin-bottom: 0;
        border-top-left-radius: var(--borderRadius);
        border-bottom-left-radius: var(--borderRadius);
    }
    
    .product-btn {
        margin-top: 0.5rem;
    }

    .price {
        margin-top: 2rem;
    }
    
    .attribution {
        width: 500px;
        margin-top: 10rem;
    }
}